Baofeng/Baofeng_UV-5R_20260322-common.csv
Baofeng/Baofeng_UV-5R_20260322-G33k-withoutdPMR.csv
Baofeng/Baofeng_UV-5R_20260322-G33k.csv
Baofeng/Baofeng_UV-5R_20260322-G33k.img
Baofeng/Baofeng_UV-5R_20260322-r2r.csv
Baofeng/Baofeng_UV-5R_20260404-r2r.img
Baofeng/Baofeng_UV-5R_20260409-common.img
Zyxel/psi
